<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.zhangliyuanblog.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="club.zhangliyuanblog.entity.Collection">
        <id column="id" property="id" />
        <result column="create_time" property="create_time" />
        <result column="user_id" property="user_id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, user_id, name
    </sql>
    <select id="selectArticleByFavoriteId" resultType="club.zhangliyuanblog.entity.Article">
        select sa.id, sa.title, sa.thematic, sa.overview from s_article sa join s_collection_content scc on sa.id = scc.article_id where scc.collection_id = #{favoriteId}
    </select>

</mapper>
