<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.zhangliyuanblog.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="club.zhangliyuanblog.entity.Comment">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="article_id" property="article_id" />
        <result column="create_time" property="create_time" />
        <result column="context" property="context" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, article_id, create_time, context
    </sql>
    <select id="selectNumByArticleId" resultType="java.lang.Integer">
        select count(*)
        from s_comment where article_id = #{articleId};
    </select>

</mapper>
