<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.zhangliyuanblog.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="club.zhangliyuanblog.entity.File">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="create_time" />
        <result column="user_id" property="user_id" />
        <result column="file_name" property="file_name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_time, user_id, file_name
    </sql>
    <select id="findFileNumsByUserId" resultType="java.lang.Integer">
        select count(*) from s_file where user_id = #{userId}
    </select>

</mapper>
